.main--fluid.centers{margin: 0 auto;padding: 0;display: block}
.main {
  width: 1200px;
  background: rgba(255, 255, 255, 1);
  margin: 15px auto;
  border: 1px solid #e4e9ee;
  .success-image {
    text-align: center;
    margin: 0 auto;
    p {
      font-size: 24px;
      color: rgba(96, 98, 102, 1);
      margin-top: 20px;
    }
    .iconC {
      font-size: 112px;
      color: #32c992;
    }
  }
  .success-btnM {
    text-align: center;
    margin: 30px auto 40px;
    .btnM-bt {
      width: 206px;
      height: 56px;
      color: #1686ea;
      border: 2px solid #1686ea;
      display: inline-block;
      line-height: 52px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      background: #ffffff;
    }
  }
  .main_form {
    height: 360px;
    width: 1078px;
    margin: 0 auto;
    border-bottom: 1px dashed #e4e9ee;
    .ivu-form-item {
      margin-bottom: 20px;
      .ivu-input {
        height: 40px;
        font-size: 14px;
      }
    }
    .ivu-input-type {
      width: 408px;
    }
    .code {
      width: 143px;
      height: 40px;
      display: inline-block;
      margin-left: 10px;
    }
    span {
      margin-left: 12px;
    }
  }
  .registerWrap.w1198{width: 1000px; border-top: 1px dashed #E4E9EE;margin: 0 auto}
  .backlogin{width: 206px;height: 60px;border: 1px solid #1686EA;border-radius: 3px;margin: 0 auto;line-height: 60px;padding: 20px 50px; font-size: 16px;color: #1686EA}
  .backlogint{}
  .ititle{height: 60px;border-bottom: 1px solid #E4E9EE;width: 1198px;border-collapse:collapse}
  .comC{height: 60px;width: 400px;line-height: 60px}
  .nowC{color:#ffffff; background-color: #1686EA;font-size: 15px}
  .nowC div{color:#1686EA;background-color: #ffffff;width: 30px;height: 30px;border-radius: 15px;line-height: 30px;float: left;margin-left: 30px;font-size: 15px;margin-top: 15px}
  .nowC span{float: right;margin-right: 150px}

  .defaultC{color:#81878E; background-color: #FFFFFF;font-size: 14px}
  .defaultC div{color:#81878E;background-color: #EAEFF4;width: 30px;height: 30px;border-radius: 15px;line-height: 30px;float: left;;margin-left: 30px;font-size: 15px;margin-top: 15px}
  .defaultC span{float: right;margin-right: 150px}

  .passC{color:#1686EA; background-color: #FFFFFF;font-size: 14px}
  .passC div{color:#FFFFFF;background-color: #1686EA;width: 30px;height: 30px;border-radius: 15px;line-height: 30px;float: left;;margin-left: 30px;font-size: 15px;margin-top: 15px}
  .passC span{float: right;margin-right: 150px}
  .from_codes{float: left;margin-left: 30px;margin-top: 5px; width: 124px;height: 40px;}
  .fleft{float: left}
  .textred{color: red;margin: 0 10px}

  .congr{
    width: 420px;
    margin: 0 auto;
    font-size: 24px;
  }
  .relogin{
    width: 450px;
    margin: 30px auto;
    font-size: 14px;
  }
  .relot{
    color: #2d8cf0;
  }
}
// @author qiu
// 图片验证码
.inputvcode img {
  display: inline-block;
  vertical-align: middle;
}
// .main-fluid{
//   margin-top:-80px;
//   margin-bottom:-90px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: inherit;
// }
